body{
display: flex;
flex-direction: column;
font-family: "Roboto";
width: 100%;
}

h2, h3, h4, h5{
  font-weight: normal;
  margin: 0;

}
h1{
  font-family: "shrikhand";
  font-size: 1.7rem;
}


p{
  
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}








