header {
  h1 {
    text-align: center;
    margin: 0;
    padding: 1rem;
  }


  .fa-arrow-left {
    font-size: 1.5rem;  
    position: absolute;
    left: 0;
    padding-top: 6px;
    padding-left: 1.2rem;
    font-size: 1.2rem;
  }
}
