.debut {
  .paris {
    text-align: center;
    background-color: #eaeaea;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .fa-map-marker-alt {
    position: absolute;
    left: 0;
    font-size: 1rem;
    padding-left: 7rem;
  }
  .sous {
    text-align: center;
    background-color: #f6f6f6;
    padding-bottom: 3rem;
    padding-top: 2rem;
  }
  .h2 {
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .h3 {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .explorer {
    margin-top: 2rem;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 0px 2px 4px 0px #80808059;
    background-color: #9e5adc;
    color: white;
    background: linear-gradient(to bottom right, #eb72da, #9e5adc);
    margin: auto;
    margin-top:4rem ;
    max-width: 200px;
  }
}

.fonctionnement {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.fonctionnement {
  h2 {
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }

  a:hover {
    background-color: rgb(245, 237, 255);
    display: block;
    box-shadow: 4px 4px 4px 0px #80808059;
  }

  a {
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    max-width: 400px;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: #f6f6f6;
    box-shadow: 0px 2px 4px 0px #80808059;
  }
  .chiffre {
    position: absolute;
    margin-left: 22px;
    left: 0;
    background-color: rgb(147, 86, 220);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    color: white;
    padding: 1px;
    text-align: center;
  }
  .fa-mobile-alt,
  .fa-list-ul,
  .fa-store {
    position: absolute;
    left: 0;
    padding-left: 4.4rem;
    font-size: 1rem;
    color: rgb(126, 126, 126);
  }
}

.restaurant {
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #f6f6f6;
}

.restaurant {
  h2 {
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .img_restaurants {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }

  .new{
    position: absolute;
    background-color: #99E2D0;
    color: rgb(48,163,135);
    font-weight: bold;
    right: 0;
    margin-top: 1rem;
    margin-right: 2.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    font-size: 0.8rem;
    border-radius: 2px;
  }
  figure {
    margin: 0;
    margin-bottom: 1.5rem;
    border-radius: 20px;
    box-shadow: 0px 2px 4px 0px #80808059;
  }
  figcaption {
    padding-left: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .fa-heart {
    position: absolute;
    right: 0;
    font-size: 1.3rem;
    padding-right: 2.5rem;
    padding-top: 10px;
  }

  .fa-heart:hover {
    color: #9e5adc;
    font-weight: bold;
    transition: all 1s linear 0s;
  }

  h3 {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }
  h4 {
    font-size: 0.9rem;
  }
}

.footer_index {
  position: relative;
  top: 0;
}
