@charset "UTF-8";
/* sert à joindre tous les fichiers scss au même endroit */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto";
  width: 100%;
}

h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-family: "shrikhand";
  font-size: 1.7rem;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.sous {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f6f6f6;
}

.paris {
  text-align: center;
  background-color: #eaeaea;
  height: 3rem;
}

.explorer {
  border-radius: 2rem;
  padding: 1rem;
  -webkit-box-shadow: 0px 2px 4px 0px #80808059;
          box-shadow: 0px 2px 4px 0px #80808059;
  margin: auto;
  background-color: #9e5adc;
  margin-top: 1rem;
  color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(#eb72da), to(#9e5adc));
  background: linear-gradient(to bottom right, #eb72da, #9e5adc);
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.li {
  margin-bottom: 1rem;
  list-style-type: none;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #f6f6f6;
  text-align: center;
  -webkit-box-shadow: 0px 2px 4px 0px #80808059;
          box-shadow: 0px 2px 4px 0px #80808059;
}

footer {
  background-color: #353535;
  color: white;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 14rem;
}

footer h2 {
  font-family: "shrikhand";
  font-size: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

footer h3 {
  line-height: 1.5rem;
  font-size: 1rem;
}

footer .fas {
  width: 1.2rem;
  text-align: center;
}

header h1 {
  text-align: center;
}

header h1 {
  -webkit-box-shadow: 0px 2px 4px 0px #80808059;
          box-shadow: 0px 2px 4px 0px #80808059;
  margin: 0;
  padding: 1rem;
}

header .fa-arrow-left {
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  padding-top: 6px;
  padding-left: 1.2rem;
  font-size: 1.2rem;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
}

.restaurants_carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  background-color: white;
  margin-bottom: 1.5rem;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 4px 0px #80808059;
          box-shadow: 0px 2px 4px 0px #80808059;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.img_restaurants {
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.figure_restaurants {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.figcaption_section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pages .img_pages {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  height: 17rem;
}

.pages h2 {
  margin-bottom: 1rem;
  font-family: "shrikhand";
  margin-top: 1rem;
}

.pages .fa-heart {
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: 1.4rem;
}

.pages .nom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pages h3 {
  margin-bottom: 1rem;
  margin-top: 2rem;
  border-bottom: solid #99e2d0;
  width: 2.5rem;
  padding-bottom: 0.3rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.pages h4 {
  margin-bottom: 0.3rem;
  font-weight: bold;
}

.pages .menu {
  background-color: #f6f6f6;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 4rem;
  border-radius: 2rem 2rem 0 0;
  position: relative;
  top: 14rem;
}

.pages .carte {
  background-color: white;
  border-radius: 1rem;
  padding: 0.8rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  -webkit-box-shadow: 0px 2px 4px 0px #80808059;
          box-shadow: 0px 2px 4px 0px #80808059;
}

.pages .commander {
  text-align: center;
  background-color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(#eb72da), to(#9e5adc));
  background: linear-gradient(to bottom right, #eb72da, #9e5adc);
  border-radius: 2rem;
  -webkit-box-shadow: 0px 2px 4px 0px #80808059;
          box-shadow: 0px 2px 4px 0px #80808059;
  padding: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 2rem;
  color: white;
}
/*# sourceMappingURL=main.css.map */