*{outline: red 2px solid;}

body{
display: flex;
flex-direction: column;
font-family: "Roboto";
width: 100%;}

a {
  text-decoration: none;
  color: black;
}

.img_restaurants {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

h1,
h6 {
  font-family: "shrikhand";
}

h1 {
  box-shadow: 0px 2px 4px 0px #80808059;
  margin: 0;
  margin-bottom: 2px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.sous {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f6f6f6;
}

.paris {
  text-align: center;
  background-color: #eaeaea;
  height: 3rem;
}

.explorer {
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: 0px 2px 4px 0px #80808059;
  margin: auto;
  background-color: #9e5adc;
  margin-top: 1rem;
  color: white;
  background: linear-gradient(to bottom right, #eb72da, #9e5adc);
}

.section1,
.section2 {
  display: flex;
  flex-direction: column;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.li {
  margin-bottom: 1rem;
  list-style-type: none;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #f6f6f6;
  text-align: center;
  box-shadow: 0px 2px 4px 0px #80808059;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.restaurants_carte {
  display: flex;
  padding: 0;
  background-color: white;
  margin-bottom: 1.5rem;
  border-radius: 20px;
  box-shadow: 0px 2px 4px 0px #80808059;
}

.figure_restaurants {
  margin: 0; 
  display: flex;
  flex-direction: column;
}

figcaption {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

h3, h4 {
  margin: 0;
}

footer {
  background-color: #353535;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}
