@charset "UTF-8";
/* sert à joindre tous les fichiers scss au même endroit */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto";
  width: 100%;
}

h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0;
}

h1 {
  font-family: "shrikhand";
  font-size: 1.7rem;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  display: block;
}

.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: 100;
  -webkit-animation: loader 2s forwards;
          animation: loader 2s forwards;
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

.loader_circle {
  border-top: 10px solid #9e5adc;
  border-left: 10px solid #9e5adc;
  border-bottom: 10px solid #eb72da;
  border-right: 10px solid #eb72da;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 3s linear forwards;
          animation: spin 3s linear forwards;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

header h1 {
  text-align: center;
  margin: 0;
  padding: 1rem;
}

header .fa-arrow-left {
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  padding-top: 6px;
  padding-left: 1.2rem;
  font-size: 1.2rem;
}

footer {
  background-color: #353535;
  color: white;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 14rem;
}

footer h2 {
  font-family: "shrikhand";
  font-size: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

footer h3 {
  line-height: 1.5rem;
  font-size: 1rem;
}

footer a {
  color: white;
}

footer .fas {
  width: 1.2rem;
  text-align: center;
}

.debut .paris {
  text-align: center;
  background-color: #eaeaea;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.debut .fa-map-marker-alt {
  margin-right: 1rem;
  text-align: center;
}

.debut .sous {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.debut .h2 {
  margin-right: 3rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.debut .h3 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.debut .explorer {
  margin-top: 2rem;
  border-radius: 2rem;
  padding: 1rem;
  -webkit-box-shadow: 0px 2px 4px 0px #80808059;
          box-shadow: 0px 2px 4px 0px #80808059;
  background-color: #9e5adc;
  color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(#eb72da), to(#9e5adc));
  background: linear-gradient(to bottom right, #eb72da, #9e5adc);
  margin: auto;
  margin-top: 4rem;
  max-width: 200px;
}

.debut .explorer:hover {
  -webkit-box-shadow: 4px 4px 4px 0px #80808059;
          box-shadow: 4px 4px 4px 0px #80808059;
  background: -webkit-gradient(linear, left top, right bottom, from(#eb72da), to(#9e5adc));
  background: linear-gradient(to bottom right, #eb72da, #9e5adc);
  opacity: 0.8;
}

.fonctionnement {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.fonctionnement h2 {
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.fonctionnement h3 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.fonctionnement a:hover {
  background-color: #f5edff;
  display: block;
  -webkit-box-shadow: 4px 4px 4px 0px #80808059;
          box-shadow: 4px 4px 4px 0px #80808059;
}

.fonctionnement a:hover .fa-mobile-alt,
.fonctionnement a:hover .fa-list-ul,
.fonctionnement a:hover .fa-store {
  color: #9356dc;
}

.fonctionnement a {
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  max-width: 400px;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0px 2px 4px 0px #80808059;
          box-shadow: 0px 2px 4px 0px #80808059;
  position: relative;
}

.fonctionnement .chiffre {
  position: absolute;
  margin-left: -10px;
  left: 0;
  background-color: #9356dc;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  color: white;
  padding: 1px;
  text-align: center;
}

.fonctionnement .fa-mobile-alt,
.fonctionnement .fa-list-ul,
.fonctionnement .fa-store {
  position: absolute;
  left: 0;
  padding-left: 8%;
  font-size: 1rem;
  color: #7e7e7e;
  padding-top: 1px;
}

.restaurant {
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #f6f6f6;
}

.restaurant h2 {
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.restaurant .img_restaurants {
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.restaurant .new {
  position: absolute;
  background-color: #99e2d0;
  color: #30a387;
  font-weight: bold;
  right: 0;
  margin-top: 1rem;
  margin-right: 2.5rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  font-size: 0.8rem;
  border-radius: 2px;
}

.restaurant figure {
  margin: 0;
  margin-bottom: 1.5rem;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 4px 0px #80808059;
          box-shadow: 0px 2px 4px 0px #80808059;
}

.restaurant figcaption {
  padding-left: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.restaurant .fa-heart {
  position: absolute;
  right: 0;
  font-size: 1.3rem;
  padding-right: 2.5rem;
  padding-top: 10px;
}

.restaurant .fa-heart:hover {
  color: #9e5adc;
  font-weight: bold;
  -webkit-transition: all 1s linear 0s;
  transition: all 1s linear 0s;
}

.restaurant h3 {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.restaurant h4 {
  font-size: 0.9rem;
}

.footer_index {
  position: relative;
  top: 0;
}

.pages .img_pages {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  height: 17rem;
  width: 100%;
}

.pages h2 {
  margin-bottom: 1rem;
  font-family: "shrikhand";
  margin-top: 1rem;
}

.pages .fa-heart {
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: 1.4rem;
}

.pages .fa-heart:hover {
  color: #9e5adc;
  font-weight: bold;
  -webkit-transition: all 1s linear 0s;
  transition: all 1s linear 0s;
  cursor: pointer;
}

.pages .carte {
  position: relative;
  margin: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  background-color: white;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 4px 0px #80808059;
          box-shadow: 0px 2px 4px 0px #80808059;
}

.pages h5,
.pages h4 {
  text-overflow: ellipsis;
  overflow: hidden;
}

.pages .texte {
  color: black;
  padding: 0.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  overflow: hidden;
  white-space: nowrap;
}

.pages .prix {
  font-size: 0.8rem;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1rem;
  padding-bottom: 0.8rem;
  font-weight: bold;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 1rem;
}

.pages .survol {
  background: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0;
  overflow: hidden;
  -webkit-transition: width ease-in-out 1s;
  transition: width ease-in-out 1s;
}

.pages .fas {
  color: white;
  -webkit-transition: color 1s, -webkit-transform ease-in-out 1s;
  transition: color 1s, -webkit-transform ease-in-out 1s;
  transition: transform ease-in-out 1s, color 1s;
  transition: transform ease-in-out 1s, color 1s, -webkit-transform ease-in-out 1s;
}

.pages .carte:hover .survol {
  width: 20%;
}

.pages .carte:hover .survol > .fas {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

@-webkit-keyframes cocheVerte {
  from {
    width: 0;
  }
  50% {
    width: 30%;
  }
  to {
    width: 0;
  }
}

@keyframes cocheVerte {
  from {
    width: 0;
  }
  50% {
    width: 30%;
  }
  to {
    width: 0;
  }
}

.pages .menu {
  background-color: #f6f6f6;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 4rem;
  border-radius: 2rem 2rem 0 0;
  position: relative;
  top: 14rem;
}

.pages .nom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pages h3 {
  margin-bottom: 1rem;
  margin-top: 2rem;
  border-bottom: solid #99e2d0;
  width: 2.5rem;
  padding-bottom: 0.3rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.pages h4 {
  margin-bottom: 0.3rem;
  font-weight: bold;
}

.pages .carte:hover {
  -webkit-box-shadow: 4px 4px 4px 0px #80808059;
          box-shadow: 4px 4px 4px 0px #80808059;
}

.pages .carte {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari et Chrome */
  -o-animation: fadein 2s;
  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pages .commander {
  text-align: center;
  background-color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(#eb72da), to(#9e5adc));
  background: linear-gradient(to bottom right, #eb72da, #9e5adc);
  border-radius: 2rem;
  -webkit-box-shadow: 0px 2px 4px 0px #80808059;
          box-shadow: 0px 2px 4px 0px #80808059;
  padding: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 2rem;
  color: white;
}

.pages .commander:hover {
  -webkit-box-shadow: 4px 4px 4px 0px #80808059;
          box-shadow: 4px 4px 4px 0px #80808059;
  background: -webkit-gradient(linear, left top, right bottom, from(#eb72da), to(#9e5adc));
  background: linear-gradient(to bottom right, #eb72da, #9e5adc);
  opacity: 0.8;
}

@media (min-width: 959px) {
  body {
    max-width: 1500px;
    margin: auto;
  }
  img {
    max-width: 1500px;
    margin: auto;
  }
  header {
    position: relative;
  }
  .fa-arrow-left {
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    padding-top: 6px;
    padding-left: 1.2rem;
    font-size: 1.2rem;
  }
  .debut .fa-map-marker-alt {
    text-align: center;
    margin-right: 1rem;
  }
  .debut .explorer {
    margin: auto;
    margin-top: 4rem;
    max-width: 200px;
  }
  .liste {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .liste a {
    position: relative;
    width: 25%;
    margin-right: 0.5rem;
  }
  .liste .fa-mobile-alt,
  .liste .fa-list-ul,
  .liste .fa-store {
    left: 0;
    margin-left: 10%;
    padding: 0;
  }
  .liste .chiffre {
    left: 0;
    margin-left: -0.6rem;
    margin-top: -0.2rem;
  }
  .restaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 3rem;
  }
  .restaurant figure {
    margin-bottom: 0;
  }
  .restaurant h2 {
    width: 100%;
  }
  .restaurant a {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 24%;
    position: relative;
    height: auto;
  }
  .restaurant .new {
    left: 0;
    margin-left: 70%;
    margin-top: 0.9rem;
    text-align: center;
    width: 20%;
  }
  .restaurant .fa-heart {
    position: absolute;
    left: 85%;
  }
  .pages .commander {
    margin: auto;
    margin-top: 4rem;
    max-width: 150px;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu h2 {
    width: 2000px;
  }
  .menu .entrees,
  .menu .plats,
  .menu .desserts {
    width: 30%;
  }
  .menu .commander {
    width: 2000px;
  }
  .menu .fa-heart {
    position: absolute;
    margin-bottom: 1rem;
    margin-top: 1rem;
    left: 0;
    margin-left: 96%;
  }
}
/*# sourceMappingURL=main.css.map */